soler/*.png
soler/*.txt
soler/__pycache__
soler/test.*
soler/*.cdf
soler/.ipynb_checkpoints

*.png
*.txt
__pycache__
test.*
*.cdf
soler/test2.ipynb
pyonset_minimal_demo.ipynb
pyonset_minimal_demo copy.ipynb
*.dat